@import "../../../App.scss";
.bg-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 88px);
  min-height: 700px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  & .bg-container-image {
    @include flexCenterCenter;
    height: 100%;
    width: 50%;
    & .bg-image {
      margin: 0px auto;
      width: 80%;
      @media screen and (max-width: 768px) {
        width: 50%;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 50px;
    }
  }
  & .bg-child-container {
    width: 50%;
    height: calc(100vh - 88px);
    min-height: 700px;
    padding-right: 50px;
    @media screen and (max-width: 768px) {
      @include flexCenterCenter;
      padding-right: 0px;
      width: 100%;
    }
  }
}
